################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind/CodeBehind.Manutencao.LogFourNet/obj
