################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind/CodeBehind.Manutencao.LogFourNet/obj
/CodeBehind/CodeBehind.Manutencao.LogFourNet/bin/Debug/net6.0
/CodeBehind/CodeBehind.Manutencao.SeriNet/obj
/CodeBehind/CodeBehind.Manutencao.SeriNet/bin/Debug/net6.0
/CodeBehind/CodeBehind.Manutencao.NNet/obj
/CodeBehind/CodeBehind.Manutencao.NNet/bin/Debug/net6.0
/CodeBehind/CodeBehind.Manutencao.ELK/obj
/CodeBehind/CodeBehind.Manutencao.ELK/bin/Debug/net6.0
/CodeBehind/CodeBehind.Manutencao.ELK/Docker/esdata/nodes/0
