################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind/CodeBehind.Manutencao.LogFourNet/obj
/CodeBehind/CodeBehind.Manutencao.LogFourNet/bin/Debug/net6.0
